[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pillow = "==10.0.1"
watchdog = "*"
requests = "*"
pandas = "*"
numpy = "*"
streamlit-folium = "*"
folium = "*"
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
